

<ion-content
>
  <ion-toolbar>
    <ion-title>
      FelixOStack
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>  
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div id="container"
  class="ion-padding"
  >
    <h1>
      Hello there friend!
    </h1>
    <p>
      Start editing to see some magic happen :)
    </p>
    <ion-button>
      Brand new
    </ion-button>
  </div>

</ion-content>