<ion-split-pane
contentId="main"
when="md"
>
  <ion-menu
  contentId="main"
  >
  </ion-menu>

  <!-- <div id="main"> -->
    <ion-toolbar>
      <ion-title>
        FelixOStack
      </ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>



    <ion-content
    id="main"
    class="ion-padding"
    >

      <div id="container">
        <hello name="{{ name }}"></hello>
        <p>
          Start editing to see some magic happen :)
        </p>
        <ion-button>
          Brand new
        </ion-button>
      </div>

    </ion-content>
  <!-- </div> -->
</ion-split-pane>
