
<ion-app>
  <ion-split-pane
  contentId="main"
  when="md"
  >

    <ion-menu
    contentId="main"
    style="width: 125px !important;"
    >
      <ion-content color="dark" class="ion-padding ion-text-center">
        <ion-row class="ion-justify-content-center ion-align-items-center"
        >
          <ion-col>
            <img 
            style="width: 50%; border-radius: 50%; display: block;"
            src="https://avatars2.githubusercontent.com/u/46578639?s=460&u=96bfa81accc3b8e84ea73c083d7520b95ff2ee06&v=4"
            />
          </ion-col>
        </ion-row>
        <h4>
          Programs & Applications
        </h4>
        <p>
          Take a moment to acqaint yourself with my work.
        </p>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>